# This is a CODEOWNERS file to define individuals or teams responsible for code in this repository
# Each line is a file pattern followed by one or more owners
# Order is important; the last matching pattern takes precedence

# Default owners for everything in the repo
*       @ravishan16 @mvvsahayam
